<header class="header">
  <div class="header__content">
    <div class="header__content__help"></div>
    <div class="header__content__main">
      <img class="header__content__logo" src="../../assets/img/logo-quero.svg" alt="logo">
    </div>
    <div class="header__content__account"></div>
  </div>
  <nav class="header__menu">
    <ul class="header__menu__list">
      <li class="header__menu__list__item"><a routerLink="/minha-conta">Minha conta</a></li>
      <li class="header__menu__list__item"><a routerLink="/pre-matriculas">Pré-matrículas</a></li>
      <li class="header__menu__list__item"><a routerLink="/bolsas-favoritas">Bolsas favoritas</a></li>
    </ul>
  </nav>
</header>