<footer class="footer">
  <div class="footer__contact">
    <div class="footer__contact__items">
      <i class="fab fa-whatsapp"></i>
      <div class="footer__contact__items__content">
        <p>0800 123 2222</p>
        <p>Seg - Sex 8h-22h</p>
      </div>
    </div>
    <div class="footer__contact__items">
      <i class="far fa-comments"></i>
      <div class="footer__contact__items__content">
        <p>Chat ao vivo</p>
        <p>Seg - Sex 8h-22h</p>
      </div>
      <span>Chat</span>
    </div>
    <div class="footer__contact__items">
      <i class="far fa-envelope"></i>
      <div class="footer__contact__items__content">
        <p>Mande um e-mail</p>
        <p>Respondemos rapidinho</p>
      </div>
      <span>E-mail</span>
    </div>
    <div class="footer__contact__items">
      <i class="fas fa-info info-icon"></i>
      <div class="footer__contact__items__content">
        <p>Central de ajuda</p>
        <p>Encontre todas as respostas</p>
      </div>
      <span>Ajuda</span>
    </div>
  </div>
  <div class="footer__msg">
    <p>
      Feito com <i class="far fa-heart"></i> pela Quero Educação
    </p>
  </div>
</footer>