<nav class="menu">
  <ul class="menu__list">
    <li class="menu__list__item" routerLinkActive="menu__list__item--active"><a routerLink="/minha-conta">Minha conta</a></li>
    <li class="menu__list__item menu__list__item--desktop" routerLinkActive="menu__list__item--active"><a routerLink="/pre-matriculas">Pré-matrículas</a></li>
    <li class="menu__list__item menu__list__item--desktop" routerLinkActive="menu__list__item--active"><a routerLink="/bolsas-favoritas">Bolsas favoritas</a></li>
  </ul>
  <button class="menu__trigger">Menu <i class="fas fa-chevron-down"></i></button>
</nav>