.breadcrumb {
    display: none;

    @media (min-width: $screen-desktop-min) {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;

        .breadcrumb__item {
            font-size: 14px;
            font-weight: 700;
            color: $blue-secondary;
            display: inline;
            
            &::after {
                content: '/';
                font-weight: normal;
                color: $black;
                margin: 0 $space-1;
            }
            
            &:last-child {
                &::after {
                    content: '';
                }
    
                a {
                    color: $black;
                }
            }
            
            a {
                color: $blue-secondary;
                text-decoration: none;
            }
        }
    }

    &__last-page {
        font-size: 14px;
        font-weight: 700;
        color: $blue-secondary;
        text-decoration: none;

        i {
            font-size: 16px;
            margin-right: $space-1;
        }

        @media (min-width: $screen-desktop-min) {
            display: none;
        }
    }
}