// theme colors
$blue-primary: #18ACC4;
$blue-secondary: #007A8D;
$yellow-primary: #FDCB13;
$yellow-secondary: #DE9E1F;

// other colors
$green: #0FA866;
$black: #1F2D30;
$gray: #FBFBFB;
$white: #FFFFFF;
$shadow: rgba($color: #000000, $alpha: 0.24);
$overlay: rgba($color: $black, $alpha: 0.88);

// text color
$text-color: $black;